.sideBar-box {
    /* width: 14%; */
    /* padding: 15px; */
    border-right: 1px solid #ccc;
}
.logo {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}